[2020-11-30 20:49] andreimatei opened #1 "compilation of minimal failing because kernel header path not in includes"
On Ubuntu 20.10 this happens to me:

[code]

The rub seems to be that `/usr/include/linux/types.h` wants `asm/types.h` which, on my system, I believe lives in `/usr/include/x86_64-linux-gnu/asm/types.h` (which file just reads `#include <asm-generic/types.h>`), and `/usr/include/x86_64-linux-gnu` does not seem to be among clang's include paths, as demonstrated by the `clang -v` output below.

[code

[2020-11-30 20:53] andreimatei commented on #1
Another observation: clang does seem to want to search that arch-specific dir when not using `-target bpf`:
[code]

[2020-12-01 02:29] anakryiko commented on #1
Oh, I think this is how we deal with it in kernel selftests: https://github.com/torvalds/linux/blob/master/tools/testing/selftests/bpf/Makefile#L215-L224

This seems to be due to using `-target bpf`, so for some systems not all the necessary include paths used... You are right that just using "vmlinux.h" would be enough, but that puts a requirement for kernel BTF on the system, and my goal was to

[2020-12-02 14:38] andreimatei commented on #1
It works indeed. Would you like a patch?

[2020-12-02 20:50] anakryiko commented on #1
that would be great, thanks. Please also include a comment explaining why we need that.

[2020-12-04 22:45] #1 closed

[2020-12-12 15:31] iagainst138 opened #3 "uprobe example"
Would it be possible to add an example of how work with uprobes?

[2020-12-14 15:42] BhaskaranVinithaTR opened #4 "unable to run in aarch64"
Hello,

I was trying to prepare libbpf-bootstrap on aarch64 using BTF and CORE. When I cloned the GIT, I realized that the bbpftool bin was built for x86. Hence I rebilt the “bpftool” from the kernel tree (v 5.9.0) on aarch64 base board. When I try to move the bpftool to my final board, it missed the shared library (libbfd-2.30-system.so & libopcodes-2.30-system.so), Which I copied from the base b

[2020-12-14 18:40] anakryiko commented on #3
That's a good idea, I'll try to add uprobe example, as it has few extra bits to make it work.

Meanwhile, if you are blocked and would like some inspiration, feel free to check out this BPF selftest:

https://github.com/torvalds/linux/blob/master/tools/testing/selftests/bpf/progs/test_attach_probe.c
https://github.com/torvalds/linux/blob/master/tools/testing/selftests/bpf/prog_tests/attach_probe.c

[2020-12-14 18:50] anakryiko commented on #4
Might be a good idea to try to get a static build of bpftool with those libraries compiled in. And have bpftool pre-compiled in libbpf-bootstrap for most popular architectures.  Would make this less painful for sure.

Which I copied from the base board to make the build through. Also I update the ARCH in the libbpf-bootstrap-master/src/Makefile to `ARCH := $(shell uname -m | sed 's/x86_64/x86/aarc

[2020-12-14 19:33] iagainst138 commented on #3
Thanks.

[2020-12-14 19:33] #3 closed

[2020-12-15 18:32] BhaskaranVinithaTR commented on #4
Yes, you are right. I should make the tool as statically linked to avoid copying the shared objects.

Yes, you are right, I don't need the aarch64 as per below response
[code]

Sorry for the typo. I did the source build on V1.19
[code]

Here is the output
[code]

Backtrace with GDB:

[code]
just checked the dmesg error during the invocation of ./minimal and found the below notice:

[code]

Thankyo

[2020-12-15 18:55] anakryiko commented on #4
Oh, right, skel->bss is NULL if kernel doesn't support memory-mapping BPF_MAP_TYPE_ARRAY, which backs global variables. So unfortunately you have too old kernel to read or update global variables from user-space **after** skeleton was loaded. But guess what, you can still initialize it before you load the skeleton, you'll just need to split the `__open_and_load()` into separate `__open()` and `__l

[2020-12-15 21:30] BhaskaranVinithaTR commented on #4
Kernel version I use is 5.4.69
I modified minimal.c as proposed (`__open(), init, __load()`) and it works fine now. Thankyou.
[https://github.com/BhaskaranVinithaTR/libbpf-bootstrap/blob/master/src/minimal.c](url)
Would it be ok if I create a pull request ?

ok

[2020-12-15 22:09] anakryiko commented on #4
Yes, please send a PR. I wanted to demonstrate open_and_load() as a short-cut, but we can do it in a separate example, no big deal.

[2020-12-15 22:09] #4 closed

[2020-12-17 02:31] anakryiko commented on #3
@iagainst138 https://github.com/libbpf/libbpf-bootstrap/pull/6 adds uprobe/uretprobe minimal example.

[2020-12-18 18:55] iagainst138 commented on #3
Thanks that works perfectly and clears up the questions I had.

[2021-01-28 01:56] waruqi opened #8 "Compilation erros on ubuntu x86_64"
I try build it on my ubuntu x86_64, but it fails.

[code]

r0? Why does it generate header files for arm architecture?

[2021-01-28 02:20] anakryiko commented on #8
Could it be that you have a pretty old Clang? I've just updated libbpf submodule reference to have the latest fixes, please try pulling and updating and see if this goes away. There were some fixes to handle this better.

[2021-01-28 04:23] waruqi commented on #8
yeah, maybe too old

clang version 3.8.0-2ubuntu4 (tags/RELEASE_380/final)

I fetched the latest commit, and next errors:

[code]

then I upgraded clang to clang-9, meet some other compilation errors.

[code]

[2021-01-28 05:28] anakryiko commented on #8
Clang 3.8 is extremely old for BPF. Clang 9 might generally work, but it's recommended to use Clang 10 or newer, especially if you are planning to use BPF CO-RE.

As for this `enum bpf_attach_type` problem, seems like your kernel UAPI headers are extremely outdated as well and don't even contain the definition of this enum. Which might mean that your kernel is simply way too old to support BPF. Ch

[2021-01-28 09:21] waruqi commented on #8
thanks, what is the minimum version requirement for linux kernel headers? I try update to linux-headers-4.8.0-56-generic, but it does not work too.

[2021-01-29 01:31] waruqi commented on #8
I try update linux-headers to 5.0.8/5.9.16:

[code]

[2021-02-02 05:07] anakryiko commented on #8
If you do `make clean && make`, what's the full build log with errors?

[2021-02-02 13:01] mengtanhzc commented on #8
hi, I have a similar problem on my suse (kernel version: 4.12.14;   clang version 11.0.0):
[code]
Is this because my kernel version is too low? Is there anything I can do to help me finish compiling?Thanks!

[2021-02-02 18:54] anakryiko commented on #8
Yes, you still have too old kernel headers, that are missing `struct bpf_prog_info` definitions. I just published PR (https://github.com/libbpf/libbpf-bootstrap/pull/9) that uses libbpf-provided Linux UAPI headers, which should make this problem disappear for you. Can you please double-check that it indeed fixes this problem for you?

[2021-02-03 01:40] mengtanhzc commented on #8
This indeed fixes my issue. Thank you very much!  :)

[2021-02-07 15:29] waruqi commented on #8
It does not work for me. (last commit)

[code]

[code]

[code]

[2021-02-08 23:53] anakryiko commented on #8
This makes no sense. Try building with V=1 and post output here, let's see what's get called. Also, what's the content of .output/minimal.skel.h?

[2021-02-09 01:01] waruqi commented on #8
[code]

[code]

[2021-02-09 01:35] anakryiko commented on #8
oh, ok, that helped, we should have started with the contents of minimal.skel.h. Apparently Clang 9 doesn't generate DATASEC BTF, please upgrade to the latest Clang you can (11 or 12, ideally, could be that Clang 10 will work as well, don't remember exactly).

[2021-02-09 01:41] waruqi commented on #8
Ok, I will upgrade clang, thanks!

[2021-02-21 07:17] waruqi commented on #8
It works, thanks!

[2021-02-21 07:17] #8 closed

[2021-02-24 12:16] pfl opened #12 "Loading of bpf fails with invalid argument"
Latest (c12658971) libbpf-bootstrap gives errors when loading on Debian testing x86_64 with kernel 5.10.17. Actually, already the compilation step is a bit fishy, as it says:
[code]
In all three cases of GEN-SKEL, the output happens in response to
[code]
But then running 'minimal' fails with
[code]
The other programs also fail at the exact same point when loading eBPF programs and with the same er

[2021-02-24 19:01] anakryiko commented on #12
Most probably it's your kernel configuration. Check https://github.com/torvalds/linux/blob/master/tools/testing/selftests/bpf/config for the list of Kconfig values that are relevant to BPF functionality. You most probably won't need all of them for libbpf-tools, though. But start with that and see.

[2021-02-24 19:02] anakryiko commented on #12
Oh, and `libbpf: elf: skipping unrecognized data section(5) .rodata.str1.1` is just a warning and has no relation to this. This warning will go away once libbpf gets support for merging .rodata sections, for now just ignore it.

[2021-02-25 09:53] k82cn opened #13 "Is it possible to run minimal with BTF?"
[code]

* Kernel Version: `Linux VM-0-13-ubuntu 4.15.0-118-generic #119-Ubuntu SMP Tue Sep 8 12:30:01 UTC 2020 x86_64 x86_64 x86_64 GNU/Linux`
* OS Version:

[code]

[2021-02-25 10:00] #13 closed

[2021-02-25 10:01] k82cn commented on #13
I think BTF is reasonable, and it's better to update my kernel :)

[2021-02-26 00:38] k82cn commented on #13
Thanks very much! I'm goint to have a try :)

[2021-02-26 06:00] k82cn commented on #13
It works after upgrade to ubuntu 20.10 :)

[2021-02-26 07:58] pfl commented on #12
Yes, it was the kernel configuration due to a reduced set of features. Once enabling
[code]
with some of those and others getting enabled along the way, the eBPF code started working.

Thanks for the kernel configuration pointer!

[2021-02-26 07:58] #12 closed

[2021-02-27 00:42] k82cn opened #14 "Where do we get vmlinux.h?"
Hi team,

I'm learning ebpf, and would like to build an app from scratch. So I'd like to know where to get `vmlinux.h`?

BTW, do we have slack?

-- K

[2021-02-27 02:21] anakryiko commented on #14
see https://github.com/libbpf/libbpf-bootstrap/blob/master/tools/gen_vmlinux_h.sh

I personally am not on any Slack. bpf@vger.kernel.org is where all the BPF development is happening and users sometimes ask their questions there. There is also iovisor-dev mailing list, which is pretty active. ebpf.io also has its own Slack, you can try that: https://ebpf.io/slack

[2021-02-27 05:30] k82cn commented on #14
thanks very much! I'm going to move my question to those channel :)

[2021-02-27 05:30] #14 closed

[2021-03-19 09:44] mingjie-gmj opened #15 "make failed"
[root@x src]# yum install clang

[root@x src]# make
  MKDIR    .output
  MKDIR    .output/libbpf
  LIB      libbpf.a
  MKDIR    staticobjs
  CC       bpf.o
  CC       btf.o
  CC       libbpf.o
  CC       libbpf_errno.o
  CC       netlink.o
  CC       nlattr.o
  CC       str_error.o
  CC       libbpf_probes.o
  CC       bpf_prog_linfo.o
  CC       xsk.o
  CC       btf_dump.o
  CC       hashmap.o

[2021-03-19 09:46] mingjie-gmj commented on #15
centos7.8

[2021-03-19 23:33] anakryiko commented on #15
You need Clang10+ with support for -target bpf. Check both, please.

[2021-03-22 06:43] mingjie-gmj commented on #15
thanks I will upgrade clang

[2021-03-22 06:43] #15 closed

[2021-04-02 02:55] chinazj opened #16 "libbpf: sec 'tp/syscalls/sys_enter_write': failed to find program symbol at offset 0"
hi

I had some problems compiling minimal. I hope to get help

[code]

env

[code]

[code]

Thanks.

[2021-04-02 04:39] anakryiko commented on #16
You probably use too old Clang. Try to upgrade it to version 11 or 12, worst case at least 10.

[2021-04-02 04:47] anakryiko commented on #16
I've updated README to mention Clang requirements, please check https://github.com/libbpf/libbpf-bootstrap/blob/master/README.md#clang-requirements

[2021-04-02 06:43] chinazj commented on #16
thanks

[2021-04-02 06:43] #16 closed

[2021-04-08 02:49] waruqi opened #17 "Use xmake to port libbpf-bootstrap and support android bpf program"
libbpf-bootstrap is a great project that allows beginners to quickly get started with bpf program development.

Now I used xmake to port the libbpf-bootstrap program and compiled it to the android platform.

xmake.lua

[code]

In addition, I ported the libbpf library and other dependent libraries to the android platform. All dependent packages and tool chains can be automatically downloaded and in

[2021-04-09 18:30] anakryiko commented on #17
Let me take a look and get back to you next week. We plan to expand libbpf-bootstrap to have more examples across various platforms and languages (e.g., Rust-based examples), so this might be a good addition. But I need to see what and how all things are put together to make a decision.

[2021-04-12 23:51] danobi opened #19 "Support multiple languages / platforms"
Creating this issue to decide directory structure and code layout.

Current structure:
[code]

Proposed structure:
[code]

Basic idea is top level entries (`tools/`, `vmlinux/`, etc.) are shared between _all_ examples. Anything language / platform specific must be completely contained to the `examples/*` directory. Each language/platform has a makefile that does the right thing.

Not sure if each

[2021-04-12 23:54] danobi commented on #17
My opinion (feel free to ignore me): xmake looks promising and easy to use. I'll probably try it out later for a personal project. But I'm not so sure about introducing non-standard tools to a "teaching" project. The purpose of this repo is to teach people about BPF -- any new tool / technology that isn't directly related to the goal of teaching about BPF is a distraction.

[2021-04-13 02:23] chenhengqi commented on #19
I have some small questions.
1. Do we need a symbolic link in `src/bpf` to `vmlinux.h` ?
2. How does rust example link against `libbpf` ?

[2021-04-13 02:36] anakryiko commented on #19
I like it overall, but I'd leave libbpf submodule at the top level still. It is not used from Rust, but I feel like it's a good idea to keep it at top level, because some other language might come up that will build libbpf from sources (e.g., Go + Cgo). In in general, it's libbpf-bootstrap, so libbpf should be more apparent ;)

As for Makefile in each example subdir. It's trivial to have a simlar

[2021-04-13 19:15] danobi commented on #19
@chenhengqi

Yeah, we could. Or we could just have `src/bpf/xdp.bpf.c` do `#include "../../../vmlinux/vmlinux.h"`.

libbpf-rs depends on libbpf-sys. libbpf-sys vendors (submodule) a specific libbpf version and builds/links to it at compile time: https://github.com/alexforster/libbpf-sys/blob/3c1c21e45c7ea74f6d0fe18ab99624d9ee14fc96/build.rs#L13-L23

[2021-04-13 19:16] danobi commented on #19
Sure, sounds good.

Ok, I'll look into that

[2021-04-14 01:10] anakryiko commented on #17
@waruqi so after discussing with @danobi some more, I think this might be a good addition to existing Makefile, as well as CMake that we are going to add. Please see https://github.com/libbpf/libbpf-bootstrap/issues/19 for discussion around re-organizing libbpf-bootstrap to allow multiple languages (C and Rust for starters) and having multiple build system integrations. So let's wait for that reor

[2021-04-14 01:26] waruqi commented on #17
ok, thanks!

[2021-04-14 01:32] waruqi commented on #19
The kprobe program depends on vmlinux.h. If I want to compile the android bpf program, do I need to generate the vmlinux.h file corresponding to the android system? How should I organize them?

[code]

Or this?

[code]

[2021-04-14 19:04] danobi commented on #19
Maybe:

[code]

and then depending on if you use `make` or `xmake` vmlinux_508.h and vmlinux.h is overwritten. And if you retarget xmake to  android, `vmlinux*` gets overwritten

[2021-04-14 22:59] anakryiko commented on #19
No overwriting, please. See https://github.com/iovisor/bcc/pull/3265 for how we dealt with it in libbpf-tools. Do you think that's feasible here as well?

[2021-04-15 03:40] waruqi commented on #19
So only one vmlinux.h can support linux and android at same time? It seems great!

[2021-04-15 04:29] anakryiko commented on #19
Yes, it's just a source of type definitions, nothing more. And you don't even need vmlinux.h, you can define all the types on your own and mark them with `__attribute__((preserve_access_index))` to make them CO-RE-compatible.

[2021-04-23 20:45] #19 closed

[2021-05-04 08:20] vlad9486 opened #23 "Kernel freeze when instrument `sys_enter_execve` and `mm_page_alloc_zone_locked` simultaneously"
My system is:

[code]

The minimal example:

[code]

It is a `*.bpf.c` file. In userspace do `open`, `load` and `attach` as usual. And entire system is freeze.

Obviously it is a kernel bug.

[2021-05-04 09:00] chenhengqi commented on #23
I can't repro this.

[2021-05-04 10:35] vlad9486 commented on #23
@chenhengqi I tried in virtual machine and I cannot reproduce it too. The problem is somewhere in my system. I'll try to find precise conditions.

[2021-05-04 18:19] anakryiko commented on #17
@waruqi now that we have both C and Rust examples, as well as Makefile and CMake-based build scripts, can you take another look if you can adopt your xmake stuff to integrate nicely into this setup?

[2021-05-05 00:45] waruqi commented on #17
ok, I will look at it later. thanks.

[2021-05-07 16:12] jony-one opened #26 "add new example"
I wrote an Example for helloworld,But pr cannot submit

[2021-05-13 14:49] jony-one commented on #26
i no fork!!!!  :(
Close

[2021-05-13 14:49] #26 closed

[2021-06-10 22:08] ipolevoy-work opened #31 "vmlinux.h question"
In the vmlinux.h on line 950 appears:
`struct hlist_node pid_links[4];`
shouldn't it be
`struct pid_link pid_links[4];`
instead?

[2021-06-11 00:08] chenhengqi commented on #31
https://elixir.bootlin.com/linux/v5.8.18/source/include/linux/sched.h#L842

[2021-06-14 09:51] tallossos opened #32 "Question regarding the Rust Examples' Readme"
Hello!
I was wondering why you build & generate the skel manually (using `cargo libbpf <...>`) rather than using `cargo build` like you did at the end.
These commands generate another `.skel.rs` and `.mod` files plus keeping the `.bpf.o` file which `cargo build` discards automatically.
[code]
Thanks!

[2021-06-14 14:42] chenhengqi commented on #32
#29 introduced build script, the following commands are not required now:
[code]

[2021-06-14 15:02] tallossos commented on #32
Thanks for clarifying,
I've opened a [PR](https://github.com/libbpf/libbpf-bootstrap/pull/33) for removing these commands.

[2021-06-14 18:30] ipolevoy-work commented on #31
Thanks @chenhengqi  that was really helpful
Does it mean that libbpf doesn't support kernels < 5.8.18 or this is a generic representation for all the bpf supported kernels?

[2021-06-14 22:28] anakryiko commented on #31
Libbpf supports any kernel version. vmlinux.h doesn't have to match exact kernel version as long as all the types and their fields are what you expect. If there was some change in most recent kernel that you need (like hlist_node to pid_link change), then you'll need to re-generate vmlinux.h, or you can just define your own definition of a data structure you'd like to read with BPF CO-RE. vmlinux.

[2021-06-15 07:25] tallossos commented on #32
The PR has been merged, closing the issue :)

[2021-06-15 07:25] #32 closed

[2021-06-25 02:40] chinazj opened #35 "xdp example"
hi
I am currently trying to write an xdp program by libbpf-bootstrap. But get an error

[code]

my http.bpf.c
[code]

my http.c
[code]

I think that's error in `SEC(xdp)`

thanks

[2021-06-25 04:29] #35 closed

[2021-07-14 13:23] willinin opened #37 "what is the function int BPF_PROG(do_unlinkat, int dfd, struct filename *name) arguments means ?"
in function:  int BPF_PROG(do_unlinkat, int dfd, struct filename *name)
I don't know why the function's first argument is "do_unlinkat",  I find nothing from all included header files. And i change the "do_unlinkat"  to  random string, such as "xxxyyyy".  And everything is ok. so what is the first argument means?

[2021-07-14 14:05] chenhengqi commented on #37
`do_unlinkat` becomes function name after macro expansion.

https://github.com/libbpf/libbpf/blob/v0.4.0/src/bpf_tracing.h#L367-L389

[2021-07-15 02:43] willinin commented on #37
Thanks.

[2021-07-15 02:43] #37 closed

[2021-07-26 05:55] vicky3932 opened #38 "Process the bpftool file of x86-64 on the ARM architecture when compiling the BPF program"
Hello:
My system uses the ARM architecture, but the bpftool file is x86-64. As a result, the following error message is displayed when the BPF program is compiled:
/bin/sh: /root/tools/libbpf-bootstrap/tools/bpftool: cannot execute binary file: Exec format error
What am I supposed to do with it?

[2021-07-27 01:51] #38 closed

[2021-07-27 18:49] anakryiko commented on #38
Ideally you install the package with bpftool for your distro and architecture. If not, you can always build from source. There were discussions of providing pre-built bpftool as part of libbpf-tools (https://github.com/iovisor/bcc/tree/master/libbpf-tools) and libbpf-bootstrap, but that didn't get implemented yet. Unfortunately I myself don't have access to any other architecture besides x86-64, s

[2021-08-11 18:56] #31 closed

[2021-08-11 18:56] #17 closed

[2021-08-11 18:56] #23 closed

[2021-08-14 00:24] chrispsommers opened #40 "Add install dependencies section to README"
For Ubuntu 20.04 I had to install libelf-dev and clang to build examples.
For Ubuntu 16.04 I had to install libz in addition to above.

[2021-08-14 00:28] anakryiko commented on #40
Feel free to submit PR with necessary changes.

[2021-08-21 02:15] chrispsommers opened #41 "kprobe not appearing in output, only kretprobe (in prospective kprobe_netlink example)"
I created a fork and new feature branch at https://github.com/chrispsommers/libbpf-bootstrap/tree/kprobe_netlink-example#kprobe_netlink. I added example `kprobe_netlink` to trace netlink messages. The tracing output only shows the `kretprobe` messages for some reason. Any advice? You can clone this and build using the normal recipes if you care to try it. See below, thanks:
[code]
Trace output:
$

[2021-08-21 06:57] chenhengqi commented on #41
Change:
[code]
to:
[code]

Currently, only a small subset of format specifiers are supported by BPF.

[2021-08-21 07:02] chrispsommers commented on #41
Awesome, that fixed it. Thanks! Given that there was no error while running the "broken" code, should I file another issue? Or was there some diagnostic output I overlooked?

[2021-08-21 07:22] chenhengqi commented on #41
bpf_printk is a wrapper around bpf helper `bpf_trace_printk`.

The behavior and supported specifiers of `bpf_trace_printk` are well documented.

You can print return value of bpf_printk to debug the problem.

[2021-08-21 16:36] #41 closed

[2021-08-23 01:53] jameshilliard commented on #38
Is there an out of tree version of the source code for bpftool like the [libbpf](https://github.com/libbpf/libbpf) source?

[2021-08-23 22:37] anakryiko commented on #38
not yet, unfortunately, but @qmonnet is looking at making one

[2021-08-24 13:11] teroz opened #42 "bootstrap c example not working"
Hi there the c bootstrap example does not run.  I'm running it on `ubuntu 20.04`

Error is

[code]

[2021-08-24 14:04] chenhengqi commented on #42
You need to upgrade your kernel to at least 5.8.

[2021-08-25 09:14] teroz commented on #42
Oic thank you

[2021-08-25 09:14] #42 closed

[2021-09-04 10:16] jfernandez opened #44 "libbpf-rs XDP example attach error"
I'm using Vagrant (box: `bento/ubuntu-20.10`) to compile and run the [xdp example](https://github.com/libbpf/libbpf-bootstrap/tree/master/examples/rust/xdp). Compilation works fine, but when I run the app I get this error (I added the debug option):

[code]

I believe this may be because libbpf needs to use `SKB_MODE` when running in a virtualized environment, but I don't believe libbpf-rs allows

[2021-09-04 10:42] chenhengqi commented on #44
You should provide a ifindex as the first argument.

[2021-09-04 14:49] jfernandez commented on #44
@chenhengqi I'm getting the same error when I provide the `ifindex` (1 or 2):
[code]

[2021-09-04 16:15] chenhengqi commented on #44
@jfernandez

Could you please update this program to use `SKB_MODE` locally and see if it works with your VM setup ?

[2021-09-04 16:38] jfernandez commented on #44
@chenhengqi would you be able to give me some guidance on how to do that? I’m new to libbpf.

I looked into doing this, but it seems like the libbpf-rs Program API doesn’t expose a libbpf function that takes the SKB_MODE flag as an argument.

Or did you mean compiling and loading the BPF example without the libbpf-rs loader?

[2021-09-05 00:47] jfernandez commented on #44
I used the libbpf-cargo command to build an ELF file, and tried loading it with iproute2. I also get this invalid argument (-22) error, but app is loaded.
[code]

Google tells me that LLVM 10 emits incompatible BTF: https://github.com/cilium/ebpf/issues/43
When I ran the suggested solution `llvm-strip ./xxx.bpf.o --no-strip-all -R .BTF`, I was able to load it using iproute2 without any warnings/er

[2021-09-05 06:54] chenhengqi commented on #44
You need `bpf_set_link_xdp_fd` from [`libbpf-sys`](https://github.com/alexforster/libbpf-sys/blob/master/src/bindings.rs#L3717) right after `let mut skel = open_skel.load()?;` .

[2021-09-05 07:01] chenhengqi commented on #44
iproute2 uses its own BPF loader, I think it's not compatible with libbpf loader.

[2021-09-05 22:37] jfernandez commented on #44
@chenhengqi I was able to attach the app without errors by calling:
[code]
This also worked, so I'm assuming it does generic mode by default:
[code]
Explicitly telling it to use the driver mode failed with this message:
[code]

A couple of thoughts given this experiment:

- `bpf_set_link_xdp_fd` uses `netlink.c`, but your implementation uses `bpf_program__attach_xdp` which ends up calling `bpf_lin

[2021-09-06 04:05] jfernandez commented on #44
I installed Ubuntu 21.04 on a spare PC I have, and the example compiles fine without any issues.

The problem must be due to the VM (Vagrant bento/ubuntu-20.10) I'm using on my Macbook. I plan to continue development on the PC without a VM, so I'm effectively unblocked at this point. Happy to help debug this more if you are interested in tracking down the actual problem.

[2021-09-06 13:16] chenhengqi commented on #44
Fine. Will take a look later.

[2021-09-08 17:16] anakryiko commented on #44
If you don't specify any flag, it will pick driver mode, if driver supports it. Otherwise it falls back to generic mode.

Yes. On newer kernels bpf_link-based XDP attachment is supported. bpf_link-based attachment will auto-detach BPF program automatically when user-space program crashes or exits, unless you pin it in BPF FS. You can still use netlink-based API, if you prefer, but you won't get be

[2021-09-08 18:05] jfernandez commented on #44
@anakryiko thanks for the additional info. Once I got the example working, I was wondering how the user-space app was auto-detaching when I exited out. I thought libbpf-rs was doing something behind the scenes. This explains it.

[2021-11-05 03:07] system-thoughts opened #46 "example/c/bootstrap.c cleanup code path is not suitable?"
[code]

[2021-11-05 05:14] anakryiko commented on #46
ring_buffer__free(NULL) is a noop

[2021-11-05 06:56] system-thoughts commented on #46
however, when bootstrap_bpf__load failed, is it necssary to do `bootstrap_bpf__destroy(skel)`?

[2021-11-05 11:29] chenhengqi commented on #46
Yes, at least we need to free the skeleton itself.

[2021-11-08 09:08] #46 closed

[2021-11-08 09:19] system-thoughts opened #47 "warning: "Attempt to use kernel headers from user space"
I imitated Minimal Makefile and wrote an out-of-kernel tree BPF program which is not CO-RE.
Hence, I include some kernel header which comes form kernel-devel in BPF program. Then I got some error:
[code]

And the Makefile:
[code]

The BPF program:
[code]

So what do we need something else to make out-of-kernel tree Non-CO-RE BPF program  build successfully?

[2021-11-08 09:35] system-thoughts commented on #47
This warning can be elimated by add `-D__KERNEL__`:
[code]

However, other `undeclared identifier` error still exist.

[2021-11-08 22:12] anakryiko commented on #47
The recommendation is to use CO-RE and vmlinux.h. If you can't or don't want to, you'll have to make sure you are including the right headers with the right definitions. bool should come from just <stdbool.h>, there rest would come from either UAPI or kernel-internal headers (and kernel-internal is where you are running into issues, probably).

Check out bootstrap example for vmlinux.h usage. That

[2021-11-09 01:42] system-thoughts commented on #47
Thanks for your reply. Because the BPF program will run Non-BTF OS(CONFIG_DEBUG_INFO_BTF is not set), So I imitated Minimal APP to write this BPF program.
**Now, I decided to use vmlinux.h to slove the linux header problem, Howerver, is it possible to run such BPF program on Non-BTF OS?**
Even though I delete `#include <linux/stddef.h>` line, the problem still exist, and the `<stdbool.h>` you ment

[2021-11-09 02:33] anakryiko commented on #47
You can safely use vmlinux.h if you generated it from **exactly** the same vmlinux image that you are going to run on. Or if you are absolutely sure that you are using only types defined in kernel UAPI (which means they won't change their layout). But the latter doesn't seem true in your case, because you've tried to use internal kernel headers.

So, you can use vmlinux.h without relying on CO-RE,

[2021-11-10 14:22] hick opened #48 ""cargo build" errors: 'bpf/bpf_helpers.h file not found' or 'Failed to generate skeleton ... Failed to spawn rustfmt '"
when "cargo build --release",  this error (screenshot error1) came at first, I found the "bpf/bpf_helpers.h" was generated in 2 pathes ( find /home/vagrant/libbpf-bootstrap/ -name "bpf_helpers.h"  got "screenshot find"), so cop  bpf directorys one to /usr/include  (in fact I fixed "vmlinux.h not found" error in the same way after being generated by bpftool ), but got another error: screenshot erro

[2021-11-11 00:26] anakryiko commented on #48
@hick https://github.com/libbpf/libbpf-bootstrap/pull/49 should fix all the issues. I've released latest libbpf-rs (you'd get compilation errors if you were to update to 0.13.0 version), but the immediate problem you ran into was missing vmlinux.h symlink, which was missing because someone accidentally added vmlinux into .gitignore.

Please let me know if that fixed your issue.

[2021-11-11 00:28] anakryiko commented on #44
@jfernandez are there any remaining issues or we can close this?

[2021-11-11 01:29] jfernandez commented on #44
@anakryiko closing the issue. I forgot to follow up, but I believe this was due to the kernel version on the VM I used initially. I think folks on 5.11 + should be fine with these examples.

[2021-11-11 01:29] #44 closed

[2021-11-16 03:22] idersan opened #50 "build error for android"
[code]

[2021-11-16 03:23] idersan commented on #50
$ clang -v
`
Ubuntu clang version 11.1.0-++20211011094159+1fdec59bffc1-1~exp1~20211011214614.8
Target: x86_64-pc-linux-gnu
Thread model: posix
InstalledDir: /usr/bin
Found candidate GCC installation: /usr/bin/../lib/gcc/i686-linux-gnu/8
Found candidate GCC installation: /usr/bin/../lib/gcc/x86_64-linux-gnu/7
Found candidate GCC installation: /usr/bin/../lib/gcc/x86_64-linux-gnu/7.5.0
Found candida

[2021-11-16 06:08] anakryiko commented on #50
@waruqi can you please help with this? All the .bpf.c files have to be compiled with -g argument passed to Clang. I'm not familiar with xmake and have no idea how to fix it.

[2021-11-16 07:48] waruqi commented on #50
try this patch https://github.com/libbpf/libbpf-bootstrap/pull/51/files first? I will improve `platform.linux.bpf ` rule in xmake/dev in the future if it works

[2021-11-16 12:52] idersan commented on #50
i did, but have a another error:
[code]

[2021-11-16 13:03] waruqi commented on #50
Can you run `xmake -vD` and let me see the verbose command output?

[2021-11-16 14:41] waruqi commented on #50
This seems to be a problem with the clang compiler in ndk. But I don't know whether it will affect the normal operation of the bpf program.

vmlinux/vmlinux_508.h

#pragma clang attribute push (__attribute__((preserve_access_index)), apply_to = record)
#endif

You can try add `add_defines("BPF_NO_PRESERVE_ACCESS_INDEX")` to disable it in xmake.lua

[2021-11-16 18:23] anakryiko commented on #50
*.bpf.c files have to be compiled with `-target bpf`, not for native architecture. See https://github.com/libbpf/libbpf-bootstrap/blob/master/examples/c/Makefile#L64 for full invocation we use in Makefile. So you'd need to have two different rules for user-space code and BPF programs code.

[2021-11-16 23:32] waruqi commented on #50
https://github.com/xmake-io/xmake/blob/b7cb5bb0c219bf4c8cdb7fffc40388c13de5e213/xmake/rules/platform/linux/bpf/xmake.lua#L51

I should have added `-target bpf` and -g, and the patch does not need to be merged.

And it works for me. I don't know why it doesn't work here, I need more detailed compilation information to further analyze the reason.

@idersan Can you revert the patch and run the follow

[2021-11-17 01:12] idersan commented on #50
[code]

[2021-11-17 01:14] idersan commented on #50
[code]

[2021-11-17 01:42] idersan commented on #50
i deleted local source code,  do git clone this project again.  output something else errors.

[code]

[2021-11-17 01:43] waruqi commented on #50
git submodule update --init

[2021-11-17 01:57] waruqi commented on #50
This is a problem with the new version of xmake. I fall back to v2.5.3 and it is possible to compile normally. You can use xmake v2.5.3 to compile it first.

I will fix this problem in the next few days.

https://github.com/libbpf/libbpf-bootstrap/pull/51 @anakryiko This patch does not need to be merged, xmake has added -g to .bpf.c internally, and the new version has a bug that causes it to be re

[2021-11-17 02:12] waruqi commented on #50
This seems to be a problem introduced by xmake 2.5.7, and versions before 2.5.6 should work

[2021-11-17 02:39] waruqi commented on #50
I have fixed it on xmake/dev branch. you can also update to dev version to try it again. It should work.

[code]

[2021-11-17 02:45] idersan commented on #50
good job! it's worked. i have some questions.
what android version(or what linux kernel version) can run bootstrap?

[2021-11-17 02:50] waruqi commented on #50
I have updated xmake.lua to add some checks. https://github.com/libbpf/libbpf-bootstrap/pull/52/files @anakryiko

[2021-11-17 02:52] waruqi commented on #50
I don’t know too, I haven’t tested it on android.

[2021-11-17 02:55] idersan commented on #50
thank you.

[2021-11-17 02:55] #50 closed

[2021-11-17 03:05] #47 closed

[2021-11-18 06:40] #48 closed

[2021-11-20 04:23] JackyYin opened #53 "CPU arch for tools/bpftool"
Currently the executable `tools/bpftool` is a `x86_64` ELF.

How am I suppose to compile the `examples/c` on an `aarch64` computer?

Could somebody help me please? Thanks.

[2021-11-23 01:54] anakryiko commented on #53
You can override which bpftool binary to use with BPFTOOL:

[code]

[2021-11-23 02:32] JackyYin commented on #53
Yes, seems like I'll have to install `libbpf` to get the binary `bpftool`, then compile with:
[code]

[2021-11-23 02:32] #53 closed

[2021-12-06 23:13] samp66 opened #55 "Make Kprobe fails on arm64"
I am running an arm64 ubuntu VM on my M1 macbook and `make kprobe` does not compile. Other examples except fentry work as expected.

[code]
[code]
Error:
[code]

Any ideas what may be going wrong here?

[2021-12-06 23:16] samp66 opened #56 "Fentry failing to load on arm64"
I am successfully building bootstrap, minimal, uprobe examples and they all work on M1 Macbook running an arm64 ubuntu VM but Fentry fails for some odd reason I can't figure out. Any tips on how to debug such issues:

[code]

[code]

[2021-12-07 03:50] anakryiko commented on #56
fentry is only supported on x86 architecture, unfortunately. arch_prepare_bpf_trampoline() has to be implemented for arm64 to allow this (at the very least).

[2021-12-07 03:50] #56 closed

[2021-12-07 03:54] anakryiko commented on #55
libbpf-bootstrap provides x86-specific vmlinux.h with all the kernel definitions. We'll need to do something like https://github.com/iovisor/bcc/pull/3265 to support arm64. Would you like to work on that?

[2021-12-07 15:11] samp66 commented on #56
Is there an easy way to check which calls are supported on arm64 vs x86? I looked around for quite a bit and wasn't able to tell if this was a config issue vs a support problem.

[2021-12-07 15:32] samp66 commented on #55
I am happy to work on that. I can send you a PR which does this if you agree:

- include arm64 bpftool under tools
- include arm64 vmlinux.h under vmlinux/arm64
- update the Makefile to account for these new paths

Documenting this for anyone else running into this issue:

[code]

[2021-12-07 22:57] anakryiko commented on #56
I don't think there is any easy way to check that except trying to load a simplistic fentry program, sorry.

[2021-12-07 23:03] anakryiko commented on #55
Sounds good. And thank you!

[2021-12-11 22:13] artych opened #57 "BPF_KPROBE macro provides unexpected value of function argument"
Hello! While playing with libbpf-bootstrap I'm getting unexpected (and strange) function argument for kprobe syscalls. For example for kprobe on `close` syscall with `int close(inf fd)` signature, I got enormous `fd` values like `fd=15761240` while expected small int like `fd=4`. Reproduced this on `Debian 11  x64 (kernel 5.10.0-7-amd64)` and `Ubuntu 21.10 x64 (kernel ~5.13)`.

Debug code:
[code]

[2021-12-17 17:35] anakryiko commented on #57
that __x64_sys_close() actually has only one input parameter, and that's `struct pt_regs *`, which contains all the syscall input arguments. So you have to do something like this to get access to input arguments:

[code]

It might be a good idea to add syscall-specific kprobe/kretprobe macros, as this is a common gotcha. Added https://github.com/libbpf/libbpf/issues/425 to keep track of that.

[2021-12-19 14:59] artych commented on #57
Thanks for explaining that, @anakryiko ! The patch above works as expected. Closing the issue.

[2021-12-19 14:59] #57 closed

[2021-12-26 18:16] kckeiks commented on #40
I opened a PR for this https://github.com/libbpf/libbpf-bootstrap/pull/58

[2022-01-05 20:53] #40 closed

[2022-01-31 22:48] nanofaroque opened #59 "git clone does not include libbpf"
I was running `git clone https://github.com/libbpf/libbpf-bootstrap.git` but it looks like it missed `libbpf` for obvious reason. I guess documentation should mention that. That would be helpful.

[2022-01-31 23:43] anakryiko commented on #59
yes, because libbpf is coming through git submodule. You need to run `git submodule update --init --recursive`, which you can see in https://github.com/libbpf/libbpf-bootstrap#c-examples

[2022-01-31 23:43] #59 closed

[2022-02-01 18:38] nanofaroque commented on #59
Thanks

[2022-02-07 16:15] Hankin-Liu opened #60 "why bpf ringbuf can not be used in uprobe of libbpf?"
Recently, I am trying to use bpf ringbuf in uprobe example of libbpf. But when running, error occurred which is "libbpf: load bpf program failed: Invalid argument". I have no idea why this happened. Could anyone help? Below is my test code.
Kernel space code: uprobe.bpf.c, define a rb struct, and use bpf_ringbuf_reserve in uprobe code block.
[code]
User space code: uprobe.c
[code]

[2022-02-07 17:52] anakryiko commented on #60
You need to call bpf_ringbuf_submit() or bpf_ringbuf_discard() before BPF program returns. You should have seen BPF verifier log with more details.

[2022-02-08 04:52] Hankin-Liu commented on #60
Yes, the functionality is incomplete. But my simple goal is let it run rather than crash. When it does not crash, I will finish the code. So, how to fix it to avoid crash? By the way, remove line below which in kernel space code, the program can run normally. But add this line, the program exit with error "ibbpf: load bpf program failed: Invalid argument".
 __u64* e = bpf_ringbuf_reserve(&rb, size

[2022-02-08 06:05] anakryiko commented on #60
It's not "incomplete functionality", it's illegal to use `bpf_ringbuf_reserve()` without corresponding `bpf_ringbuf_submit()`. See https://nakryiko.com/posts/bpf-ringbuf/ for some more details.

[2022-02-08 17:30] #60 closed

[2022-03-03 22:56] #55 closed

[2022-03-09 21:38] sdelaughter opened #63 "XDP example in C"
Would it be possible to provide a C version of the XDP example?  I'm struggling to figure out the syntax for attaching a program to a particular network interface.

I can compile and run the example posted in [issue #35](https://github.com/libbpf/libbpf-bootstrap/issues/35) without errors after including `unistd.h`, but the kernel code never triggers no matter which interface I send traffic to.  I

[2022-03-10 01:43] chenhengqi commented on #63
You can use `bpf_program__attach_xdp` from libbpf.

[2022-03-10 17:19] sdelaughter commented on #63
Closed, thank you!

[2022-03-29 01:39] nurdann opened #65 "How to generate `bpftool`?"
I would like to know how `bpftool` and `vmlinux.h` is generated on this repository to it make cross compatible between different kernel versions that have `/sys/kernel/btf/vmlinux` exposed.

I can generate `vmlinux.h` for kernel 5.15 as follows,
[code]
Then I can use `vmlinux.h` to compile libbpf programs.

However, if I download kernel source with tag `v5.8` I am not able to generate `vmlinux.h`

[2022-03-29 04:26] anakryiko commented on #65
No, not really. You generally need "recent enough" bpftool, but it will handle older kernels just fine. I suspect in this case bpftool built from 5.8 kernel sources just doesn't handle BTF_KIND_FLOAT type that was introduced after 5.8. If you build bpftool from 5.15 and run it against 5.8 kernel it should work fine.

But generally, bpftool version is independent. We now also have Github mirror for

[2022-03-30 08:32] nurdann commented on #65
I am very much open to contribute. From what I understand by making https://github.com/libbpf/bpftool/ a submodule, when `bpftool` is being built it will use libraries that are specific to an architecture so you wouldn't have to include multiple binaries in the version control? So, the steps are to exactly replicate how https://github.com/iovisor/bcc/commit/03163a6c0f42ec70e047b318e9987b68e36ee28d

[2022-03-30 18:05] anakryiko commented on #65
yes, exactly

[2022-04-01 19:02] #65 closed

[2022-04-06 13:03] marcsfran opened #67 "XDP rust example"
I compiled the program but when I try to attach it to an interface with `sudo ./target/release/xdp 1` I get this message
_libbpf: elf: skipping unrecognized data section(4) .rodata.str1.1
..........._
I know this is a warning message but how to fix it?

[2022-04-06 13:39] marcsfran commented on #67
Answer [here](https://github.com/libbpf/libbpf-bootstrap/issues/12#issuecomment-785303374)

[2022-04-06 21:36] anakryiko commented on #67
It's been implemented since, maybe we need to update libbpf version or something.

[2022-04-06 21:46] #67 closed

[2022-04-24 03:20] baoqger opened #68 "minimal example can't run"
After compile and build the `minimal` example application, I try to run it but with the following error message:

[code]

My kernel version is: 4.15.0-96-generic. I run the example on Ubuntu-18.04 system.

[2022-04-24 10:37] chenhengqi commented on #68
Your kernel is too old for this example.

To get it work, you need to remove `my_pid` (you can use a map instead) and `bpf_printk`.

[2022-04-29 08:52] dmitris opened #69 "build error compiling C minimal example - 'make minimal' in examples/c"
When trying to run `make minimal` in the `examples/c` directory, getting the following errors - the full output in gist
https://gist.github.com/dmitris/697849eb3c0b80e6f2ca50430cae499b:
[code]

Is it related to (or even fixed in) https://lore.kernel.org/bpf/20220421003152.339542-2-alobakin@pm.me/ and
https://lore.kernel.org/bpf/20220421003152.339542-2-alobakin@pm.me/ ?

I got that error with the c

[2022-04-29 09:17] dmitris commented on #69
interestingly, on fedora 35 the `cmake` build (almost) work - I have to compile the `bpftool` executable in `bpftool/src` and copy it into the `tools` subdirectory, otherwise getting this error:
[code]

On rhel8, it doesn't work - `skeleton/pid_iter.bpf.c:90:36: error: use of undeclared identifier 'BPF_LINK_TYPE_PERF_EVENT'; did you mean 'BPF_PROG_TYPE_PERF_EVENT'?` - the kernel must be too old.

[2022-04-29 10:59] dmitris commented on #69
Never mind - was my bad clone as mentioned in https://github.com/xdp-project/xdp-tutorial/issues/93#issuecomment-1113170389. With the correct clone (`git clone --recurse-submodules https://github.com/libbpf/libbpf-bootstrap`), the `examples/c` build is clean on both rhel8 and fc35.

[2022-05-09 20:31] mariuszbarczak opened #70 "Building using cmake is not working"
When trying to build the project using cmake, I've got the following error:

bash: line 1: /home/mariusz/git/libbpf-bootstrap/examples/c/../../tools/bpftool: No such file or directory
make[2]: *** [CMakeFiles/bootstrap.dir/build.make:74: bootstrap.skel.h] Error 127
make[2]: *** Deleting file 'bootstrap.skel.h'
make[1]: *** [CMakeFiles/Makefile2:145: CMakeFiles/bootstrap.dir/all] Error 2
make: ***

[2022-05-09 21:55] mariuszbarczak commented on #70
I added ExternalProject_Add in examples/c/CMakeLists.txt for bpftool, it started working. Is it acceptable?

[2022-05-11 11:52] mrpre commented on #68
@chenhengqi
It seems that `bpf_printk ` with constant string works well under BCC.
So how BCC process the constant string used by `bpf_printk`? Does BCC replace or remove `.rodata` sections and use another way to to make it work ?

[2022-05-12 00:45] anakryiko commented on #68
@mrpre you can prevent bpf_printk() from using global variables by defining BPF_NO_GLOBAL_DATA before including bpf_helpers.h header.

BCC implementation uses suboptimal implementation that requires on the stack variables and their implementation (which libbpf will do if BPF_NO_GLOBAL_DATA is defined)

[2022-05-12 03:27] mrpre commented on #68
@anakryiko Thanks a lot, it works after I remove `my_pid` and add `#define BPF_NO_GLOBAL_DATA` in bpf code.

[2022-05-15 02:59] mik90 opened #72 "Unable to build minimal example with Makefile"
I pulled down the repo and  init'd the submodules
[code]

bpftool takes libbpf as a submodule but never inits it so there's nothing in that dir. Is there any (easy) way to get it so that bpftool just uses the libbpf from this repo or can we just have it init its own submodule in this makefile?

[2022-05-16 20:37] anakryiko commented on #72
Check build instructions at https://github.com/libbpf/libbpf-bootstrap#c-examples, it suggests to run `git submodule update --init --recursive` which will check out nested submodules as well.

But answering you direct question, doesn't seem like bpftool's Makefile allows to override where libbpf sources are. Not sure if we actually want to allow that, but just in case cc @qmonnet for an opinion.

[2022-05-16 20:44] mik90 commented on #72
Ah! I feel like a dummy. Thanks for the pointer.

[2022-05-17 08:14] qmonnet commented on #72
Something similar [was raised on the bpftool repo](https://github.com/libbpf/bpftool/issues/13) some time ago. I'm not against providing a way to override the path for libbpf, but I fear this might lead to confusion if users attempt to use a libbpf version which is not recent enough, or if they try to use the version installed on their system but without having the sources (given that bpftool need

[2022-05-17 13:46] mik90 commented on #72
Makes sense to me. I'll close this issue since it's already solved by the documentation.

Thanks for the quick responses!

[2022-05-17 13:46] #72 closed

[2022-05-18 15:27] dmitris commented on #69
actually I think this issue needs to be reopened.  I carefully followed the instructions for the CMake build from https://github.com/libbpf/libbpf-bootstrap#c-examples (starting with `git submodule update --init --recursive`), but it does not work - I'm getting the following error:
[code]

Do we need to add CMakefile instructions to build `bpftool` with the correct libbpf code, and copy the binary

[2022-05-18 20:46] anakryiko commented on #70
@danobi can you please take a look if you get a chance? But either way, @JackyYin, please go ahead and submit your fix, thank you!

[2022-05-18 20:47] anakryiko commented on #69
Please see https://github.com/libbpf/libbpf-bootstrap/issues/70, in case it's related. But also make sure you perform `git submodule update --init --recursive` (recursive part is important).

[2022-05-22 00:33] andreybleme opened #74 "Unable to run minimal example"
Hello!

I have a docker container running Ubuntu 22.04 LTS, kernel version is 5.10.47.

I am able to build the minimal example from the cloned repo perfectly: `make minimal`.
But when I try to run the binary `./minimal`, I get the following error:

[code]

I can see the kernel is compiled with the flags correctly by checking the boot file:

`cat /boot/config-5.15.0-30-generic`:

[code]

I can also

[2022-05-22 01:26] #74 closed

[2022-05-24 01:35] andreybleme opened #75 "bpf_printk doesn't create data on trace_pipe"
My minimal app executes correctly:

![image](https://user-images.githubusercontent.com/5385383/169928889-a92bfc26-85e1-4ea0-a77a-379769f6eecf.png)

But when I cat the "/sys/kernel/debug/tracing/trace_pipe" file it looks empty:

![image](https://user-images.githubusercontent.com/5385383/169930401-33e04522-7c1e-44a7-a08c-d478f55b6e04.png)

I'm running a Ubuntu 22.04 LTS docker container on privilege

[2022-05-24 04:23] anakryiko commented on #75
Not really, but I've had cases when something in kernel "broke" w.r.t. trace_pipe and BPF program stopped emitting anything into it. Can you try rebooting and trying ./minimal again before you do anything else with the system?

I also see
[code]

So maybe try mounting tracefs as well?

[2022-05-24 10:15] MatteoNardi opened #76 "Relocation error on 32 bit systems"
This program will compile and run fine on my 64 bit system, but it will fail with a relocation error on 32 bit systems:
[code]
[code]
I'm cross-compiling using a Yocto build. I've reproduced this both with arm and x86.

From my understanding, the issue comes from the `long int` in `trace_event_raw_sys_enter`, which is 64 bit in the compiled eBPF program, but 32 bit in the target kernel.
[code]
Ind

[2022-05-24 13:44] andreybleme commented on #75
Thanks for replying @anakryiko!
After mounting tracefs `mount -t tracefs nodev /sys/kernel/tracing`, I see:

[code]

And the BPF program still doesn't write into `/sys/kernel/debug/tracing/trace_pipe`.
Interesting that when I cat, tail, or try to open the trace_pipe file with vi, the process doesn't finish with the empty output as it does with regular empty files. It actually gets stuck:

![image]

[2022-05-25 04:13] anakryiko commented on #76
This more general BPF-related question. Please send this question to bpf@vger.kerne.org and let's have discussion there.

[2022-05-25 04:32] anakryiko commented on #75
I have no idea, tbh. If you are trying it from inside the container, have you tried reading that file from outside any container? Also make sure that you don't have any other process opening this file, because I think trace_pipe doesn't support multiple readers reading it simultaneously.

[2022-05-26 22:13] danobi commented on #70
The submitted fix lgtm

[2022-05-26 23:00] anakryiko commented on #70
Closed by https://github.com/libbpf/libbpf-bootstrap/pull/73

[2022-05-27 08:45] JackyYin opened #79 "Discussion about socket examples"
Greeting,

Thanks for the hard work and great examples.

Since there are more and more `SEC` types now supported by the kernel:
https://github.com/libbpf/libbpf/blob/4eb6485c08867edaa5a0a81c64ddb23580420340/src/libbpf.c#L9002-L9081

I think it would be great if we could cover more `SEC` types.

I wonder if I can add an example about `SEC(socket)`, which can get an insight about how to retrieve dat

[2022-05-29 19:22] neomafo88 opened #81 "Xmake + Android error"
- host: Ubuntu 20.04.4 LTS / Kernel version 5.18-051800-generic
- guest: Android 11 x64 (with arm64 emulation by default) - stock Google Pixel 4 emulator

[code]

[2022-05-31 08:01] Gettingdone opened #82 "Unable to run minimal example"
Similarly i can not run minimal example in Centos7，kernel 4.18.9.
But I am able to run the minimal compiled in kernel 5.4（Centos7）
can anybody help me？

`[root@localhost c]# ./minimal

libbpf: loading object 'minimal_bpf' from buffer
libbpf: elf: section(2) tp/syscalls/sys_enter_write, size 104, link 0, flags 6, type=1
libbpf: sec 'tp/syscalls/sys_enter_write': found program 'handle_tp' at insn of

[2022-05-31 13:08] chenhengqi commented on #82
Please refer to #68 .

[2022-05-31 13:09] chenhengqi commented on #81
You need `libelf`.

https://github.com/libbpf/libbpf-bootstrap#install-dependencies

[2022-05-31 13:33] Gettingdone commented on #82
yes,it can solve the problem. i just cannot understand why I am able to run the minimal compiled in kernel 5.4 in kernel 4.18.

[2022-05-31 13:36] andreybleme commented on #75
I see. I'm executing this by running "./minimal", and after I see the dots from the userspace application indicating the BPF program is running, I stop the processes (CTRL + C) and then run the cat command. Should I be checking for debug messages in a different way?

[2022-06-01 00:34] anakryiko commented on #75
you can run cat in parallel, but even if you run afterwards you should still see previous output.

Do you have a chance to try this on some other system? It might be some (unknown to me) kernel config dependencies. Other than that, I'm not sure how to help you.

[2022-06-01 16:52] anakryiko commented on #81
@chenhengqi maybe it's good to mention that it has to be -dev version of libelf package? libelf itself is necessary at runtime, but for compilation you need headers which normally come with -dev/-devel (naming convention changes by Linux distro)

[2022-06-01 17:26] anakryiko commented on #79
Sure, sounds like a good idea, if you can keep it simple and not require extra tools (like iproute2) to run it to get some data/output and that won't cause host system misbehaving (e.g., if you start dropping packets). Please give it a try!

[2022-06-01 17:27] #70 closed

[2022-06-01 19:45] mariuszbarczak commented on #70
Thanks Guys for fixing this.

[2022-06-01 23:35] #75 closed

[2022-06-02 07:25] #82 closed

[2022-06-03 16:09] Darrilla commented on #68
From the README: `minimal is just that – a minimal practical BPF application example. It doesn't use or require BPF CO-RE, so should run on quite old kernels.`
Obviously, my Ubuntu 18.04 kernel 4.15.0-180  is too quite an old a kernel. For someone just starting out with bpf, it would be helpful to have an example on how to avoid the global variable (my_pid) by using a map.

[2022-06-07 17:56] Darrilla opened #83 "Unable to run kprobe example"
I commented on #68 about how I could not get this to run on ubuntu 18.04. I was able to get minimal working, by removing the global variable. I am using kernel version 4.15.0-180-generic. The kprobe example, however, is not running for some other reason:
[code]

[2022-06-07 22:54] anakryiko commented on #68
How about we add `minimal_legacy` example which will define BPF_NO_GLOBAL_DATA (to avoid global variables for bpf_printk()) and do the map as you shown above?

[2022-06-07 22:56] anakryiko commented on #83
yes, you need kernel BTF for CO-RE to work. You can work around that for such trivial example by adding

[code]

before vmlinux.h include, but is there any reason why you can't upgrade your Ubuntu to something a bit more modern that will restrict you less in what you can do with BPF?

[2022-06-08 12:46] Darrilla commented on #83
Yes, I have a huge set of BCC-style kprobes that we are using with Centos 7/RHEL servers, amazon Linux 1 & 2, ubuntu 18.04 +, etc. The goal is to migrate these to libbpf and BPF CO-RE using btfhub files for the older kernels.  I assumed this would be possible after seeing the BTF files for the kernels we currently support via BCC and kernel headers.

[2022-06-08 12:49] Darrilla commented on #83
BTW, I did modify this kprobe example to load the BTF for my kernel using the opts:

 struct bpf_object_open_opts openopts = {};
 openopts.sz = sizeof(struct bpf_object_open_opts);
 openopts.btf_custom_path = "/tmp/vmlinux.btf";
...
...
 /* Load and verify BPF application */
skel = kprobe_bpf__open_opts(&openopts);

/tmp/vmlinux.btf is the file I obtained for my kernel from btfhub-archives.

[2022-06-08 13:28] Darrilla commented on #68
PR #84 adds this example.

[2022-06-08 18:51] Darrilla commented on #83
Even after adding
[code]
there is still a problem due to, I believe, the usage of BPF_CORE_READ:
[code]
When I code around this using bpf_probe_read_user, I am able to get things to work. This brings me back to a core question (no pun intented), are the bpf core helpers not going to work on older kernels even if you have the BTF for that kernel available?

[2022-06-09 17:48] neomafo88 commented on #81
still seems broken for me, do I have to modify the (x)makefile or something to specify some special compilation flag, or path to find includes/libs as an environment variable?

![screenshot](https://user-images.githubusercontent.com/97744946/172911372-f6db181f-3451-4e47-b873-b642e86e9ac4.png)

[2022-06-09 20:49] anakryiko commented on #83
it should work with btf_custom_path. What's the libbpf debug log output once you specify custom BTF?

[2022-06-13 03:22] waruqi commented on #81
The new version of libbpf uses GElf_Nhdr, but the libelf library in xmake-repo is version 0.8.13, which does not provide the GElf_Nhdr type.

I'm not sure if there is a new libelf version, but elfutils should provide GElf_Nhdr, but the elfutils package in the xmake-repo repository currently only supports linux, not android.

[2022-06-13 18:40] Darrilla commented on #83
I got this working. My BTF file didn't have all of the symbols I needed for this. I have run this example on 4.15.0-180-generic and on 3.10.0-957 (centos 7.6).

[2022-06-13 18:40] #83 closed

[2022-06-18 09:50] ThinkerYzu1 commented on #81
Have you tried to specify a version and "verify = false"?

[2022-06-18 15:22] waruqi commented on #81
I use elfutils instead of old libelf to fix this issue. @see https://github.com/libbpf/libbpf-bootstrap/pull/85

It works for me.

[2022-06-22 02:27] setNull opened #86 "failed to run kprobe example on arm64"
Hi team,

I failed to run kprobe example n arm64 as below,

[code]
Cound someone point out what's wrong here? Thanks.

[2022-06-23 01:10] ThinkerYzu1 commented on #86
Looks like you build kprobe.bpf.c, a bpf program, for x86.  Did you build the example on an ARM64 device?  Or, you did cross-compiling?

[2022-06-23 13:33] #76 closed

[2022-06-23 21:53] Darrilla commented on #68
We can close this now that PR #84 has been merged.

[2022-06-24 05:29] setNull commented on #86
Hi @ThinkerYzu1 ,

Thanks for your reply.
Yes, I cross-compiling the example for ARM64.
I resolved this issue by adding ARCH=arm64 in make command line(while previously declare it in ENV not work).

[2022-06-24 05:29] #86 closed

[2022-06-24 15:10] pynem commented on #69
@ankryiko I'm getting this problem when building using the makefile instructions; I also get the error described in #70 if I try to use the cmake instructions.

FYI: I've cloned at commit 2b5b2bb0, and `git submodule status --recursive` gives:
 1e1f48c18da9416e1d4c35ec9bce4ed77019b109 ../../blazesym (1e1f48c)
 8ec897a0cd357fe9e13eec7d27d43e024891746b ../../bpftool (v6.8.0-1-g8ec897a)
 86eb09863c1c

[2022-06-24 18:04] #68 closed

[2022-06-24 22:56] algrebe commented on #69
@pynem I faced the same problem on Ubuntu 20.04 with 5.13.0-51-generic.

I was able to fix this issue by undoing the changes in https://github.com/libbpf/bpftool/commit/d97300d3565e99d9fea06d1875935234796f4096 (commenting out the additions to `pid_iter.bpf.c` is sufficient).

Quoting part of this [stackoverflow answer](https://stackoverflow.com/a/72379343/1520594)

[code]

[2022-06-27 08:14] pynem commented on #69
@algrebe Thanks for the information! Is there a version that will work with a 5.11 kernel?

[2022-06-27 18:22] anakryiko commented on #69
@qmonnet is there anything we can do to make bpftool a bit less demanding about how up-to-date host kernel on the build machine has to be? Should we just define some of those used constants?

[2022-06-28 09:12] qmonnet commented on #69
Related: https://github.com/libbpf/bpftool/issues/17

My understanding here is that [the patch from Alexander](https://lore.kernel.org/bpf/20220421003152.339542-3-alobakin@pm.me/T/#u) would solve the issue upstream. I tried [to ping him](https://lore.kernel.org/bpf/b1a604e1-be09-ac0b-ff22-b194ae9ce886@isovalent.com/) about it some time ago but didn't get an answer.

I can maybe resubmit this patch

[2022-06-29 22:42] anakryiko commented on #69
@qmonnet I think it would be easier and faster to submit bpftool fix separately

[2022-06-30 20:44] RuchiSaluja8 opened #89 "make: *** [.output/minimal.skel.h] Error 139"
Hi,

When running `make minimal` from `examples/c folder`, I am getting the following error :
[code]

The steps I have followed for installation are :
[code]
I have also googled for Error 139 and have also tried the solution in the closed issues #69 #70 #72  #15 but couldn't find a solution that works for me.
I and gone through the Makefile line 109 - 110. I tried removing `| $(OUTPUT) $(BPFTOOL)`

[2022-06-30 21:25] ThinkerYzu1 commented on #89
It is necessary to generate skeletons with bpftool.  The steps you provide work for me.  Could you run bpftool manually to see what will happen? It is even better to get a stack trace with gdb.

[2022-07-01 08:57] RuchiSaluja8 commented on #89
I am not sure if this is what you meant by running bpftool manually.. I am fairly new to libbpf and bpftool. Based on my understanding till now, I tried running this bpftool command : `bpftool --debug prog load /home/imgadmin/libbpf-bootstrap/examples/c/.output/minimal.bpf.o /home/imgadmin/Desktop/libbpf-test-dir/minimal.skel.h` and got an error:

[code]
Seems like there is an issue with the objec

[2022-07-02 08:47] chenhengqi commented on #89
Try using a newer version of LLVM.

[2022-07-04 05:39] Arvintian commented on #75
This may causes by the pid namespace. I had the same problem in wsl https://github.com/microsoft/WSL/issues/8461. The same as you are run the BPF program in the container, it pid namespace not is global namespace. Tansks @X-QIANG.

[2022-07-05 06:24] RuchiSaluja8 commented on #89
Thanks for the suggestion @chenhengqi. I have installed the latest version of LLVM (after following the steps given [here](https://docs.cilium.io/en/v1.11/bpf/#tooling-llvm) and adding the build directory's path to environment).
But I still see the same error when running make command.

![Screenshot from 2022-07-05 11-51-52](https://user-images.githubusercontent.com/90855508/177262807-02c68343-7ba

[2022-07-05 11:58] ThinkerYzu1 commented on #89
If you run `make V=1 minimal`, you should see that GEN_SKEL is expanded to `XXXXX
/bpftool gen skeleton .output/minimal.bpf.o > .output/minimal.skel.h`.
The issue here is that bpftool fails to generate the skeleton. libbpf-bootstrap builds its bpftool instead of using the system one.
It may help if you generate the skeleton manually with the bpftool that is built by libbpf-bootstrap.  It would be

[2022-07-05 21:51] anakryiko commented on #89
make sure you are compiling BPF source code with `-g` compiler flag, which will make Clang generate BTF information.

But crash shouldn't happen anyway, so can you share object file you are using to generate skeleton?

[2022-07-06 03:24] chinazj opened #91 "LSM example"
hi,
Recently, I was trying to implement LSM using BPF. but my program has no output.

my ebpf.c

[code]

loader.c
[code]

Makefile(make output)
[code]

load and attach out

[code]

but `cat /sys/kernel/debug/tracing/trace_pipe` not output

strace -o log ./loader
[code]

[2022-07-06 03:29] chinazj commented on #91
uname -a
[code]

[2022-07-07 11:58] chinazj commented on #91
this is resolve.
https://github.com/gravitational/teleport/issues/8089

[2022-07-07 11:59] #91 closed

[2022-07-07 16:07] RuchiSaluja8 commented on #89
After updating LLVM and CLang, I cloned this repository again and got different errors on running `make minimal`:
[https://gist.github.com/RuchiSaluja8/739b91f05169b0bc1ff108e514da3f25](https://gist.github.com/RuchiSaluja8/739b91f05169b0bc1ff108e514da3f25)

@ThinkerYzu1 There is no gen skeleton output for minimal this time, only for profiler. The output for `make V=1 minimal` is also in the gist l

[2022-07-08 16:49] anakryiko commented on #69
@pynem can you try again and see if https://github.com/libbpf/libbpf-bootstrap/pull/92 helps?

[2022-07-08 16:50] anakryiko commented on #89
@RuchiSaluja8 https://github.com/libbpf/libbpf-bootstrap/pull/92 should help with bpftool building issues

as for no .o, make clean and try again (but with older Clang to reproduce it)

[2022-07-08 17:25] anakryiko commented on #89
@RuchiSaluja8 actually, I think your original crash issue will be solved by https://github.com/libbpf/libbpf-bootstrap/pull/93, bpftool had issue with .bpf.o files that don't have BTF and it was fixed, but libbpf-bootstrap didn't have that fix in its bpftool submodule yet. I've updated bpftool to latest.

[2022-07-08 17:25] #89 closed

[2022-07-21 16:35] ANOLASC opened #95 "compile error while running make in example/c"
git clone and git submodule update --init --recursive
run make in example/c dir

[code]

ubuntu 20.04 with 5.13.0-52-generic kernel

[2022-07-22 03:33] Teanix opened #96 "[error] compiling error with makefile"
MKDIR    .output
  MKDIR    .output/libbpf
  LIB      libbpf.a
  MKDIR    /root/proj/libbpf-bootstrap/examples/c/.output//libbpf/staticobjs
  CC       /root/proj/libbpf-bootstrap/examples/c/.output//libbpf/staticobjs/bpf.o
  CC       /root/proj/libbpf-bootstrap/examples/c/.output//libbpf/staticobjs/btf.o
  CC       /root/proj/libbpf-bootstrap/examples/c/.output//libbpf/staticobjs/libbpf.o
  CC

[2022-07-22 03:53] chenhengqi commented on #95
You can either update your LLVM or apply the following diff:

[code]

[2022-07-22 03:54] Teanix commented on #96
clang version 10.0.0-4ubuntu1
Target: x86_64-pc-linux-gnu
Thread model: posix
InstalledDir: /usr/bin
Found candidate GCC installation: /usr/bin/../lib/gcc/x86_64-linux-gnu/9
Found candidate GCC installation: /usr/lib/gcc/x86_64-linux-gnu/9
Selected GCC installation: /usr/bin/../lib/gcc/x86_64-linux-gnu/9
Candidate multilib: .;@m64
Selected multilib: .;@m64

[2022-07-22 03:54] chenhengqi commented on #96
`git submodule update --init --recursive`

[2022-07-22 04:29] Teanix commented on #96
谢谢 成功解决了

[2022-07-22 04:29] #96 closed

[2022-07-22 17:21] ANOLASC commented on #95
Applied it. Now have a new error
[code]

[2022-07-31 10:06] JackyYin commented on #79
Sorry for being late, finally open a PR for porting some simple idea, please see: #97.
Thanks you very much!

[2022-08-04 22:06] anakryiko commented on #95
@ANOLASC, please try to repull libbpf-bootstrap (we've updated libbpf and other stuff meanwhile) and try again? You shouldn't need BPF_USDT_HAS_BPF_COOKIE anymore, btw.

Please also make sure you are using a decently recent LLVM/Clang (as recent as you can). Please also report what Clang version you are using. Thanks.

[2022-08-08 16:13] ANOLASC commented on #95
Still got the same error [issue-1313523553](https://github.com/libbpf/libbpf-bootstrap/issues/95#issue-1313523553).

I use apt to install clang.

clang --version

clang version 10.0.0-4ubuntu1
Target: x86_64-pc-linux-gnu
Thread model: posix
InstalledDir: /usr/bin

[2022-08-09 00:49] anakryiko commented on #95
Clang 10 is pretty old. Try upgrading to something newer. Also please check that your Clang supports BPF target.

[2022-08-10 07:20] chairwa commented on #42
https://github.com/iovisor/bcc/blob/master/docs/kernel-versions.md

[2022-08-11 06:00] syogaraj opened #98 "kprobe: getting random values in arguments"
Hi,
I'm trying to instrument the *kill* syscall using kprobe. But, I'm getting some random values in place of the pid and signal that is used while execution.

**killsnoop.bpf.c**
[code]

**killsnoop.c**
[code]

**Output**
![image](https://user-images.githubusercontent.com/9082051/184072565-bd56acf8-5c4a-419f-ad53-e6466a77d738.png)

Also, when I execute `kill -9 <pid>` in another terminal, it's no

[2022-08-11 10:44] JackyYin commented on #98
I don't know why `_x64_sys_kill` didn't work in my environment, either, but I think you could try to use `kill_something_info`, it gave me a more reasonable output:
[code]

[2022-08-11 11:18] chenhengqi commented on #98
FYI, we have a dedicated [tool](https://github.com/iovisor/bcc/blob/master/libbpf-tools/sigsnoop.bpf.c) in BCC repo for this purpose.

Linux has other syscalls for `kill`, eg. `tkill`. You should trace all kill-related syscalls.

[2022-08-11 11:27] chenhengqi commented on #98
You submit a `struct data_t` to perf buffer and interpret it as `struct event` ?

[2022-08-11 11:29] syogaraj commented on #98
both the struct shares the same data fields in the same order.

[2022-08-11 11:42] chenhengqi commented on #98
They need to be exactly the same for both padding and field size.

[2022-08-11 12:13] syogaraj commented on #98
I'm trying to trace the `kill` syscall alone so that I can get the actual time the parent process quits. Any ideas why the `__x64_sys_kill` was not being traced?

[2022-08-15 14:00] ANOLASC commented on #95
Make success by upgrading clang to 15. Thx.

[2022-08-15 14:00] #95 closed

[2022-08-20 15:00] yanchdh opened #102 "sudo ./minimal run failed"
libbpf: loading object 'minimal_bpf' from buffer
libbpf: elf: section(2) tp/syscalls/sys_enter_write, size 104, link 0, flags 6, type=1
libbpf: sec 'tp/syscalls/sys_enter_write': found program 'handle_tp' at insn offset 0 (0 bytes), code size 13 insns (104 bytes)
libbpf: elf: section(3) license, size 13, link 0, flags 3, type=1
libbpf: license of minimal_bpf is Dual BSD/GPL
libbpf: elf: section(4)

[2022-08-21 04:02] #69 closed

[2022-08-21 04:03] anakryiko commented on #79
Addressed by https://github.com/libbpf/libbpf-bootstrap/pull/97

[2022-08-21 04:03] #79 closed

[2022-08-21 04:06] anakryiko commented on #98
This might be due to CONFIG_ARCH_HAS_SYSCALL_WRAPPER. Latest libbpf supports a special kprobe for syscalls. Try `SEC("ksyscall/<syscall-name>")` and use `BPF_KSYSCALL()` macro to define BPF program. See https://github.com/torvalds/linux/blob/master/tools/testing/selftests/bpf/progs/test_attach_probe.c#L33-L38 for one example.

This combination should abstract away a bunch of architecture- and kern

[2022-08-21 04:08] anakryiko commented on #102
Your kernel is too old to support BPF global variables (those .bss and .rodata maps). You'll have to upgrade your kernel or try minimal_legacy to avoid relying on BPF global variables.

[2022-08-21 04:08] #102 closed

[2022-08-22 11:45] dmitris commented on #69
tried now and build works fine, thanks! 👍

[2022-08-28 15:11] cheneytianx commented on #98
Try this, to see if it works on your case.
[code]

[2022-09-02 02:47] woodpenker opened #104 "tools FindBpfObject.cmake may not get correct ARCH for aarch64 and etc."
This line of CMake code(https://github.com/libbpf/libbpf-bootstrap/blob/938651fcef787f3885b7c32792851f8423bf8421/tools/cmake/FindBpfObject.cmake#L144) need to be changed to
[code]
So that cmake can get correct ARCH (such as arm64for aarch64 platform). Or it will raise an error when building: `GCC error "Must specify a BPF target arch via __TARGET_ARCH_xxx"`(__TARGET_ARCH_aarch64 isn't defined insi

[2022-09-02 14:56] 0xB10C opened #105 "Build of usdt example fails: "libbpf: elf: usdt_bpf is not a valid eBPF object file""
For me, building the USDT example fails with `libbpf: elf: usdt_bpf is not a valid eBPF object file` using `elfutils` (version  `0.187`) see https://github.com/libbpf/libbpf-bootstrap/pull/85#issuecomment-1162591490. I'm not sure if `elfutils` is the problem here, though.

Building the other examples, e.g., the minimal one, fails too with the same error.

[code]

[2022-09-03 03:55] chenhengqi commented on #105
Your clang is probably too old.

[2022-09-03 09:14] 0xB10C commented on #105
Thanks for helping to troubleshoot this. I'm using clang version 14.0.1 which is fairly recent. Do I need something newer?

[2022-09-03 10:20] chenhengqi commented on #105
What's your distro and kernel version ?

It seams that `clang-bpf-co-re: [ OFF ]` causes the problem.

[2022-09-03 10:34] 0xB10C commented on #105
I'm on [NixOS](https://nixos.org) and kernel `5.15.55`.  I've just tested it in a Ubuntu 22.04 VM and it seems to work fine there. Though I'd like to get it running on NixOS too, if possible.

[2022-09-04 20:15] grubeli opened #106 "ksyscall example"
Libbpf v1 introduced `ksyscall` option to trace syscalls, an example for the feature would be helpful

[2022-09-08 14:34] kochia3 opened #107 "xmake android error"
Host: x64 Manjaro Linux
Target: Android

commands:
[code]

but getting following error after the last `xmake` command:
[code]

The error message:
error: cannot execv(bpftool gen skeleton build/.gens/minimal/android/armeabi-v7a/release/rules/bpf/minimal_legacy.bpf.o), No such file or directory

Same goes if I specify a target with `-a `

[2022-09-08 14:45] kochia3 commented on #107
`xmake -vD` output:
[code]

[2022-09-08 14:47] kochia3 commented on #50
Have problems with Android build again on the recent code:
https://github.com/libbpf/libbpf-bootstrap/issues/107

[2022-09-08 15:00] kochia3 commented on #107
Unable to install bpftool on Manjaro (ArchLinux)
[code]

[2022-09-08 15:04] kochia3 commented on #107
I tried to install bpftool manually as well without a luck
[code]

[2022-09-08 15:11] waruqi commented on #107
This is a known issue and I am waiting for a kernel fix. https://github.com/xmake-io/xmake-repo/pull/1400

binutils changed the signature of init_disassemble_info(), which now causes
perf and bpftool to fail to compile (e.g. on debian unstable).

see
https://lore.kernel.org/bpf/20220622231624.t63bkmkzphqvh3kx@alap3.anarazel.de/T/

[2022-09-08 17:37] kochia3 commented on #107
I can try to use a LTS Ubuntu if it helps, which version of Ubuntu should I use?

[2022-09-08 20:05] kochia3 opened #109 "How to prepare Android device or Emulator for epbf programs"
Bit of guide to how prepare Android devices or Emulators to run an eBPF programs compiled for them would be useful due to scarcity of resources on the subject.

[2022-09-08 20:10] kochia3 commented on #107
I tried it on Ubuntu 20.04 and worked for most of samples but failed for minimal.c sample:
[code]

[2022-09-08 20:11] kochia3 commented on #107
xmake -vD:
[code]

[2022-09-08 20:19] kochia3 commented on #109
Device:
Android Emulator x86_64
Kernel version: `5.10.66-android12`

error when running `bootstrap` from examples directory:
[code]

when running `fentry`:
[code]

[2022-09-09 01:10] waruqi commented on #107
try this patch https://github.com/libbpf/libbpf-bootstrap/pull/110

[2022-09-09 06:28] kochia3 commented on #107
**[100%]: build ok!**

[2022-09-09 06:54] kochia3 commented on #109
uname -a
[code]

file minimal:
[code]

[2022-09-09 07:03] kochia3 commented on #109
Used `mount -t debugfs none /sys/kernel/debug` to mount debubfs but still there is no `syscalls` dir under `/sys/kernel/tracing/events`

[2022-09-09 15:21] #107 closed

[2022-09-10 08:50] kochia3 opened #111 "kprobe for mmap"
I'm trying to have krobe for mmap:
[code]

but it fails to compile, it works if I remove the last parameter and make parameter count to five

my guess it that it's due to calling conversion

how can I get the sixth parameter?

[2022-09-14 22:52] nurdann opened #113 "Build libbpf-bootstrap in `nixpkgs`"
I have changed Makefile to use already packaged `libbpf` and `bpftool` but I am running into a compilation issue inside `nix-shell`.

Building libbpf from submodule works, so I changed include (`-I/nix/store/...-libbpf-.../include`) and library (`-l:libbpf:a` paths

[code]

At the last stage when linking, I keep running into `undefined reference to 'gelf_getnote'`
[code]

[2022-09-15 01:52] chenhengqi commented on #113
Try install `libelf-dev` or `libelf-devel`.

[2022-09-15 23:31] nurdann commented on #113
There is only `libelf` package available https://search.nixos.org/packages?channel=22.05&from=0&size=50&sort=relevance&type=packages&query=libelf

[2022-09-16 02:04] chenhengqi commented on #113
Or `elfutils` ?

[2022-09-16 06:09] nurdann commented on #113
Still the same error
[code]

[2022-09-16 11:41] 0xB10C commented on #113
@nurdann for me, `nix-shell --pure -p libbpf bpftool tree clang llvm elfutils zlib pkg-config` (added `pkg-config` and dropped `libelf`) compiles, but fails with `libbpf: elf: minimal_bpf is not a valid eBPF object file` as described in https://github.com/libbpf/libbpf-bootstrap/issues/105 on 22.05.

[2022-09-16 11:48] 0xB10C commented on #113
It might be that the packaged libbpf 0.8.1 on NixOS unstable your patch includes is to old? The submodules are v1.0 (see https://github.com/libbpf/libbpf-bootstrap/commit/e4c2098405ddb8a5f6d888ff95df933d321fc791). AFAIK there have been quite a few changes leading up to v1.0.

[2022-09-16 12:45] 0xB10C commented on #105
Likely related to https://github.com/NixOS/nixpkgs/issues/176128. I'll revisit this and report back.

[2022-09-17 13:02] idersan opened #114 "ubuntu 20.04 build error"
my host machine:

`Linux xxx 5.15.0-48-generic #54~20.04.1-Ubuntu SMP Thu Sep 1 16:17:26 UTC 2022 x86_64 x86_64 x86_64 GNU/Linux`

i build example/c with:
[code]
on host shell, install kernel headers error:
[code]

[2022-09-17 13:50] waruqi commented on #114
see https://github.com/libbpf/libbpf-bootstrap/issues/107#issuecomment-1240825495

[2022-09-18 09:33] idersan commented on #114
[code]
 work for me.

[2022-09-18 09:33] #114 closed

[2022-09-19 22:44] chenbd commented on #111
I have the same question.
The calling convention of the System V AMD64 ABI is followed on GNU/[Linux](https://www.systutorials.com/category/linux/). The registers RDI, RSI, RDX, RCX, R8, and R9 are used for integer and memory address arguments and XMM0, XMM1, XMM2, XMM3, XMM4, XMM5, XMM6 and XMM7 are used for floating point arguments.
For system calls, R10 is used instead of RCX. Additional argume

[2022-09-20 06:53] anakryiko commented on #111
Libbpf's BPF_KPROBE macro currently doesn't support more than 5 arguments. Please contribute the patch to extend it.

For now to unblock yourself you can add this before BPF_KPROBE macro use:

[code]

** But note that this will eventually be added libbpf (probably pretty soon) and at that point your code will stop compiling again, most probably. ** So it's best to fix this in libbpf properly.

[2022-09-20 07:07] anakryiko commented on #104
@woodpenker would you be able to send a PR with this change?

[2022-09-20 07:08] anakryiko commented on #98
@syogaraj if your issue was fixed with one of the above suggestion, please report back and close the issue. Thank you!

[2022-09-20 07:20] syogaraj commented on #98
@anakryiko I'm yet to try the suggested solution. Will check and report back at the earliest.

[2022-09-21 08:36] welbonwang commented on #105
Chenheng, could you share your building environment? I met the same problem using Ubuntu 20.04.5 LTS with clang-10.
Kernel is 5.15.0-48-generic with CONFIG_DEBUG_INFO_BTF=y

[2022-09-21 09:52] chenhengqi commented on #105
Please upgrade your LLVM/clang.

[2022-09-21 16:44] chantra opened #117 "libbpf-bootstrap's rust tracecon fails with llvm 16"
While trying to build rust tracecon with LLVM 16, the build was failing.

https://github.com/libbpf/libbpf-bootstrap/pull/112 was created to reproduce the issue with CI (like https://github.com/chantra/libbpf-bootstrap/actions/runs/3052027285/jobs/4920947176#step:5:187)

The issue turns out to be https://github.com/llvm/llvm-project/issues/57872 .

This issue is merely here to
1. explain why llvm

[2022-09-22 18:28] anakryiko commented on #109
cc @waruqi, who added Android xmake.lua support

[2022-09-22 18:48] anakryiko commented on #113
"minimal_bpf is not a valid eBPF object file" is reported if BPF object file is not ET_REL or it's e_machine isn't set to EM_BPF. I don't know all the reasons why this might happen, but very old Clang might be one of them.

[2022-09-23 09:07] krisztianfekete commented on #113
FWIW, I get the same issue on my nixOS VM as well with these versions:
[code]

[2022-09-23 20:37] ThinkerYzu1 commented on #106
There are a lot of test cases under tools/testing/selftests/bpf directory of Linux.  You may want to check there for examples that you don't find here.

FYI
https://github.com/torvalds/linux/blob/master/tools/testing/selftests/bpf/progs/test_probe_user.c

[2022-09-23 22:49] anakryiko commented on #106
@ThinkerYzu1 yes, selftests can serve as an example, but having minimal self-contained and simple examples in libbpf-bootstrap is extremely helpful. I do agree that we should either add a separate ksyscall example or extend kprobe one to also show ksyscall one. So let's keep this issue for now until someone finds time to contribute such an example.

[2022-09-24 03:01] welbonwang commented on #105
I have built bpf grogram successfully using llvm-16 in teeks99/clang-ubuntu:16_20220910_1356 docker image.

[2022-09-27 11:40] idersan opened #118 "xmake cross build error"
[code]
output:
[code]
when add a commnts at uprobe in xmake.lua, have a another error output:
[code]

[2022-09-27 21:57] anakryiko commented on #113
@0xB10C can you share BPF object file that causes this problem?

@krisztianfekete do you run into "is not a valid eBPF object file" issue or the one with gelf_getnote? The latter means that whatever libelf you have on your system doesn't have expected API (which probably means your version is too old).

[2022-09-27 22:18] ThinkerYzu1 commented on #118
This looks like xmake doesn't give the proper parameters to clang. In a typical case, xmake downloads a copy of linux-headers, uncompresses the file, and uses the directory as an include path. But, here, xmake doesn't do it. We should forward this issue to xmake as well! They may have a better idea of what is going on.

[2022-09-28 09:17] krisztianfekete commented on #113
The former.
This is my exact output:
[code]

[2022-09-28 16:23] anakryiko commented on #113
@krisztianfekete then same request, can you share generated minimal_bpf object file?

[2022-09-28 22:30] 0xB10C commented on #113
As mentioned in https://github.com/libbpf/libbpf-bootstrap/issues/105#issuecomment-1236092476, I think it's an issue with clang in NixOS (see
 https://github.com/NixOS/nixpkgs/issues/176128). Running `readelf -h usdt.bpf.o | grep Machine` on my `usdt.bpf.o` also reports `Advanced Micro Devices X86-64` instead of `Linux BPF`. I haven't had a chance to play around with the patch, it might be fixed i

[2022-09-30 09:49] krisztianfekete commented on #113
[minimal.bpf.o.gz](https://github.com/libbpf/libbpf-bootstrap/files/9682983/minimal.bpf.o.gz)

[2022-10-05 20:18] anakryiko commented on #113
@krisztianfekete yeah, your file has "Machine:   AArch64". So it seems like compiler is ignoring `-target bpf` argument. I'd expect compiler to fail if target is unrecognized, but maybe Clang doesn't do that and instead just silently switched to native architecture. Either way, not much I can help with here, sorry.

[2022-10-06 09:29] Ephemeraler opened #119 "load BTF: invalid argument: [201]"
Please，What does this error code mean。

[2022-10-06 16:16] anakryiko commented on #119
please provide more context

[2022-10-07 01:34] Ephemeraler commented on #119
I want to read some fields of super_block in *.bpf.c, but happen error. [load BTF: invalid argument: wait_unfrozen  Invalid member]

[2022-10-07 13:09] 0xB10C commented on #105
Thanks for testing with unstable. I haven't gotten around to work on this again. From what I understand, this isn't merged into master / unstable yet? It's merged into `staging` (https://github.com/NixOS/nixpkgs/issues/176128#issuecomment-1157132972), not sure how and when staging is merged into master in the NixOS release cycle.

[2022-10-07 13:32] krisztianfekete commented on #105
My understanding is that this should be already available based on https://nixpk.gs/pr-tracker.html?pr=176152. But I might be wrong as well.

[2022-10-08 08:22] chenhengqi commented on #113
@0xB10C  @krisztianfekete  What's the output of `llc --version` in your systems ?

[2022-10-08 08:27] krisztianfekete commented on #113
[code]

[2022-10-10 23:04] anakryiko commented on #119
please given an example of BPF program you are trying to load. And what's libbpf's debug output. And also how you compile it and what's Clang version you are using.

[2022-10-13 01:08] TARI0510 opened #120 "Use of undeclared identifier 'TASK_COMM_LEN'"
[Environment]
[code]

[Detail]
[code]
It works fine.

If I try to build a CO-RE program base on modifying `libbpf-bootstrap/examples/c/minimal.bpf.c`
[code]
when I try to build it, I get an error
[code]
I have tried to google, but I cannot find any idea...

Could you get any help from you? Thanks~

[2022-10-13 19:25] anakryiko commented on #120
TASK_COMM_LEN is #define and is not present in vmlinux.h.

Just add

[code]

see examples/c/bootstrap.h for an example

[2022-10-14 01:55] TARI0510 commented on #120
@anakryiko OK, Thanks~

[2022-10-14 01:55] #120 closed

[2022-10-15 08:52] kochia3 opened #121 "LSM program crashes on Linux 5.15"
Program:
[code]

OS: `Linux 5.15.41-android`

zcat /proc/config.gz

[code]

cat /sys/kernel/security/lsm
[code]

Error:
[code]

strace:
[code]

There are others as well, kprobes - but it only crashes if I'm using the `lsm` hook

[2022-10-18 17:04] ThinkerYzu1 commented on #121
Could you also show me the code of your userspace program, the loader?

[2022-10-19 11:53] 0xB10C commented on #105
Good news! I'm able to build the examples with the `clang_14` from NixOS unstable using the nix-shell below. I think https://github.com/NixOS/nixpkgs/issues/176128 indeed solved the issue. I had to disable the stackprotector hardening. I'm closing this issue, as it's solved for me.

[code]

[2022-10-19 11:59] 0xB10C commented on #113
@nurdann Just to make sure: Did you end up trying to build with `elfutils` but **without** `libelf` in your nix-shell as mentioned in https://github.com/libbpf/libbpf-bootstrap/issues/113#issuecomment-1261528890?

[2022-10-21 19:53] nurdann commented on #113
There is error when generating skeleton header now
[code]

[2022-10-21 20:17] 0xB10C commented on #113
Yes, see https://github.com/libbpf/libbpf-bootstrap/issues/105#issuecomment-1283886839. It's fixed in NixOS unstable.

[2022-10-21 21:35] #113 closed

[2022-10-25 20:22] ThinkerYzu1 commented on #121
It is probable that some other program has attached to the same hook.  `bpftool link list` may reveal it.

[2022-11-09 02:55] JackyYin opened #122 "LSM program failed to attach"
Greeting,
I'm trying to run a simple LSM ebpf program, but failed to attach it to kernel.

I encountered the same issue in `fentry` example too, is it related to the macro `BPF_PROG` ?

my kernel version: `5.15.73`
my CPU architecture: `aarch64`

ebpf program:
[code]

error message:
[code]

[2022-11-09 07:56] yuki429 commented on #102
@anakryiko could you  please tell me which kernel to start support it ?  our kernel version 5.10.104 and have the same problem.

[2022-11-10 07:06] chenhengqi commented on #102
Do you have `CONFIG_DEBUG_INFO_BTF` enabled ?

[2022-11-10 07:26] ziyangfu commented on #102
@chenhengqi
yes, it is enabled.
[code]

[2022-11-10 07:36] ziyangfu opened #123 "[ aarch64 ] minimal example run error: BPF program load failed: Invalid argument"
Platform:
1. ARCH: aarch64
2. system: ubuntu 20.04
3. kernel version: 5.10.104

we can not run the minimal sample correctly. before running, we modifid kernel config.
[code]

[code]

[2022-11-10 08:50] JackyYin commented on #123
Maybe you can check if your kernel is compiled with `CONFIG_FTRACE_SYSCALLS` enabled.

[2022-11-14 09:13] hangsz commented on #123
i have the same problem.
have you solved it?

[2022-11-15 05:07] anakryiko commented on #122
This might be an ARM64 limitation, but I don't have much experience with ARM64, unfortunately. Please ask on the mailing list, see https://github.com/libbpf/libbpf#libbpf-and-general-bpf-usage-questions.

[2022-11-15 05:18] anakryiko commented on #102
@yuki429 It should be supported starting from 5.2 kernel, look for d8eca5bbb2be ("bpf: implement lookup-free direct value access for maps") commit.

[2022-11-15 05:44] anakryiko commented on #104
Fixed by https://github.com/libbpf/libbpf-bootstrap/pull/116

[2022-11-15 05:44] #104 closed

[2022-11-15 05:45] anakryiko commented on #98
@syogaraj ping, did you get a chance to try SEC("ksyscall")?

[2022-11-15 05:49] anakryiko commented on #111
Should be addressed by https://github.com/libbpf/libbpf/issues/616, once that feature is implemented.

[2022-11-15 05:49] #111 closed

[2022-11-15 05:50] anakryiko commented on #117
fixed by https://github.com/llvm/llvm-project/issues/57872

[2022-11-15 05:50] #117 closed

[2022-11-15 05:51] anakryiko commented on #118
@waruqi can you please take a look when you get a chance?

[2022-11-15 05:51] anakryiko commented on #119
closing due to inactivity and lack of details

[2022-11-15 05:51] #119 closed

[2022-11-15 05:54] anakryiko commented on #121
@kochia3 you can try using https://github.com/anakryiko/retsnoop to debug where in the kernel this -EBUSY error originates from.

[2022-11-15 05:55] anakryiko commented on #123
Try using https://github.com/anakryiko/retsnoop to pinpoint where the error is originating in the kernel.

[2022-11-15 06:30] waruqi commented on #118
It seems that you intend to cross-compile the bpf program, but xmake still uses clang instead of aarch64-linux-musl-cross

Can you pass `-vD` and let me see verbose logs? and please show me your aarch64-linux-musl-cross structure.

[code]

[2022-11-19 15:30] woodpenker opened #126 "[Question] Is it possible to both support legacy and new kernels by writing code once?"
I know it is possible to use BPF on 4.x kernel, but some features are not always supported, such as global var, `/sys/kernel/btf/vmlinux`, and `tp_btf`.  If I want to write some tools to support from 4.x to 5.x kernels, I have to deal with these discord:
1. Define some macros to generate the suitable code for the target kernel like [this](https://github.com/libbpf/libbpf-bootstrap/commit/d55e7a68c

[2022-11-20 12:33] hangsz commented on #123
@anakryiko
hello, i want to know :
if every program in examples/c can be run correctly without rebuilding kernel, which kernel version should i select?

i found that:
 when kernel version is 4.19, bootstrap and minimal can't  run, minimal_legacy is ok.
 when kernel version is 5.10, bootstrap can't  run,   minimal and minimal_legacy are ok.
 when kernel version is 5.15, bootstrap, minimal and minim

[2022-11-22 14:02] Kr0kspluish opened #127 "Confusion between PID and TGID in the bootstrap example"
Hi,

I feel like the use made of `bpf_get_current_pid_tgid()` is misleading in `bootstrap.bpf.c`. This is not critical but
had me confused for some time.

According to the comment in `bpf_helper_defs.h`, `bpf_get_current_pid_tgid()` returns
[code]

However, in the bootstrap app, the pid is retrieved with:
[code]
which actually corresponds to the tgid.

I'm not sure what the desired behaviour is so

[2022-11-23 19:08] anakryiko commented on #126
I don't think there is any magical solution. So what you describe is probably the way to do it. You can write your code to use the lowest common denominator set of features (e.g., don't use global vars at all, use BPF maps directly, etc). You'll lose some of the nice features and developer productivity, but you'll be able to support older kernels.

There is no magic bullet, in short.

[2022-11-24 01:58] woodpenker commented on #126
Got it. Thank you for the explanation.

[2022-11-24 01:58] #126 closed

[2022-11-24 07:01] Wu-Fisher opened #128 "make examples/c/ failed"
When I make here, I got these below:
[code]
But when I make + (for example bootstrap), it works well(make: 'bootstrap' is up to date.)

[2022-11-25 01:36] ziyangfu commented on #123
@hangsz, Now we can run minimal sample correctly.
  The reason why failed is we do not open the kernel config option:
`CONFIG_BPF_EVENTS=y`
however, when I enable the config option: `CONFIG_DEBUG_INFO_BTF=y`,  we make kernel image failed.

Error: **FAILED unresolved symbol udp6_sock**
[code]

here is our config file.
[defconfig.log](https://github.com/libbpf/libbpf-bootstrap/files/10087961/defconf

[2022-11-27 13:57] hangsz commented on #123
@ziyangfu  to recompile kernel is not  a good choice. i build my dev env on vm(vagrant) and ubuntu2204, everything works correctly.

[2022-11-27 13:58] hangsz commented on #123
@anakryiko Thank you for your reply. It's quite useful to me.

[2022-11-29 05:07] KevinChau9527 opened #129 "Cross compile failed with aarch64-none-linux-gnu"
Hi, I'm using buildroot to cross compile bptfool and I get some error

[code]

It seems an error occurred when executing the bpftool-bootstrap program to generate vmlinux.h .

What should I do to skip this operation, or is there any way to fix it ?

Device:

[code]

My cross-compile toolchain:

[code]

[2022-11-29 07:55] grubeli opened #130 "XMake build (Android) fails"
reproduce from the main branch:
[code]
Getting error:
[code]

Seems like something changed in the bpftool, since it used to work a month ago or so

[2022-11-29 09:54] waruqi commented on #130
it works for me, but I use bpftool from xmake-repo. maybe your system bpftool has some issues.

[code]

[2022-11-29 10:09] grubeli commented on #130
with `--require-bpftool=y` it worked! Thank you!

I complied bpftool from the source and it fails.
so it's bpftool issue

[2022-11-30 10:28] LinuxVWQH opened #132 "excute usdt failed,why?"
root@b30121bce996:/# usdt
libbpf: loading object 'usdt_bpf' from buffer
libbpf: elf: section(2) .text, size 1552, link 0, flags 6, type=1
libbpf: sec '.text': found program 'bpf_usdt_arg_cnt' at insn offset 0 (0 bytes), code size 36 insns (288 bytes)
libbpf: sec '.text': found program 'bpf_usdt_arg' at insn offset 36 (288 bytes), code size 126 insns (1008 bytes)
libbpf: sec '.text': found program

[2022-11-30 21:44] #98 closed

[2022-11-30 21:45] anakryiko commented on #122
BTW, confirmed, ARM64 currently doesn't support BPF trampoline, which means fentry/fexit/fmod_ret and lsm programs don't work on ARM64.

[2022-11-30 21:45] #122 closed

[2022-11-30 21:48] anakryiko commented on #128
Sorry, it's not clear. What's "make here"? Can you elaborate?

[2022-11-30 21:49] #127 closed

[2022-11-30 21:51] anakryiko commented on #129
We are using bootstrap version of bpftool (as it's smaller and builds faster), but it will be built for host system. So for cross-compilation we'd need to use final bpftool version, probably. Can you try adjusting Makefile to build full bpftool version and give it a try in your environment?

[2022-11-30 21:51] #130 closed

[2022-11-30 21:58] anakryiko commented on #132
I wonder if you are running into issue fixed by https://github.com/libbpf/libbpf/commit/9da0dcb62149ab0a6c5711813d77a844ec6f393b ? I've updated libbpf submodule to get that fix. Can you please try again with latest libbpf-bootstrap and libbpf version?